input.ui-slider-input {
    display:none !important; 
}

div.ui-slider {
  width: 93%;
}

.dimslide{
 padding-top:15px;
 padding-bottom:5px;
}

@media only screen and (max-width: 399px) {
  /* rules that only apply for canvases narrower than 400px */
  #thepage .ui-header a, #setpage .ui-header a, #dimmerpage .ui-header a {
	  display: none;
  }
}
